<div class="embla__slide">
  <div class="slide-content flex flex-col">
    <h2>{{ title }}</h2>
    <div class="prose prose-invert prose-lg max-w-none mt-4
                prose-ul:list-none prose-ul:p-0 prose-ul:flex prose-ul:flex-col prose-ul:gap-6 
                prose-li:bg-[#111] prose-li:p-6 prose-li:border prose-li:border-[#333] 
                prose-li:border-l-4 prose-li:border-l-indigo-500 prose-li:rounded-none prose-li:m-0 
                prose-strong:text-indigo-400 prose-p:m-0">
      {{ content_html | safe }}
    </div>
  </div>
</div>
