<div class="embla__slide">
  <div class="slide-content prose prose-invert prose-lg max-w-4xl m-auto prose-h2:text-white prose-li:text-gray-300">
    <h2>{{ title }}</h2>
    {{ content_html | safe }}
  </div>
</div>
